.navbar-brand.logo{color:  #fff;font-size:  30px;}
.navbar-brand.logo span{font-weight: 900;font-family:  "Arial Black", sans-serif;font-size: 34px;color: #82b440;}
#navigation.affix .navbar-brand.logo{color: #000;}
#project .plan { overflow:  hidden;height:  400px;border: 2px solid #eee;}
#project .plan .overlay {height: 400px;}